@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&family=Open+Sans:wght@300;400&display=swap');

:root {
  /* Theme */
  --bg-dark: #b696f5;
  --color-dark: #fff;

  --bg-light: #f0f0f0;
  --color-light: #333;

  --bg: var(--bg-light);
  --color: var(--color-light);

  /* Buttons */
  --primary-color: #5d5af0;
  --primary-hover: #6c6ad1;

  --error-color: #df4848;
  --error-hover: #df5c5c;

  --btn-color: var(--primary-color);
  --hover-color: var(--primary-hover);
}

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: 'Open Sans';
}

html,
body {
  height: 100%;
}

body {
  text-align: center;
  background-color: var(--bg);
  color: var(--color);
  transition-duration: 0.5s;
}

h1 {
  font-size: 4rem;
  font-weight: 300;
  line-height: 1.25;
}

.main {
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.page {
  height: 100%;
  display: flex;
  flex-direction: column;
}

.hidden {
  display: none;
}

.btn {
  border: none;
  font-size: 24px;
  border-radius: 4px;
  padding: 0.5em 0.75em;
  cursor: pointer;
  color: white;
  background-color: var(--btn-color);
  box-shadow: 0 0 4px rgba(127, 127, 127, 0.3);
  outline: none;
}

.ripple {
  background-position: center;
  transition: background 0.8s;
}
.ripple:hover {
  background: var(--hover-color) radial-gradient(circle, transparent 1%, var(--hover-color) 1%) center/15000%;
}
.ripple:active {
  background-color: #6eb9f7;
  background-size: 100%;
  transition: background 0s;
}

.error {
  --btn-color: var(--error-color);
  --hover-color: var(--error-hover);
}

#code {
  font-size: 5rem;
  margin-bottom: 1rem;
  font-family: 'Poppins';
}
#code::after {
  content: '\a0';
}
