@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap");

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html,
body {
  height: 100%;
  font-family: "Open Sans";
}
